<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SearchControlServlet</servlet-name>
        <servlet-class>controller.SearchControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryInCreatejspServlet</servlet-name>
        <servlet-class>controller.seller.CategoryInCreatejspServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeControlServlet</servlet-name>
        <servlet-class>controller.view.HomeControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopControlServlet</servlet-name>
        <servlet-class>controller.view.ShopControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailControlServlet</servlet-name>
        <servlet-class>controller.view.DetailControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControlServlet</servlet-name>
        <servlet-class>controller.login.LoginControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupControlServlet</servlet-name>
        <servlet-class>controller.login.SignupControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControlServlet</servlet-name>
        <servlet-class>controller.login.LogoutControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordControlServlet</servlet-name>
        <servlet-class>controller.login.ForgotPasswordControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerProductControlServlet</servlet-name>
        <servlet-class>controller.seller.ManagerProductControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductControlServlet</servlet-name>
        <servlet-class>controller.seller.DeleteProductControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductControlServlet</servlet-name>
        <servlet-class>controller.seller.CreateProductControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProductToUpdateServlet</servlet-name>
        <servlet-class>controller.seller.LoadProductToUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductControlServlet</servlet-name>
        <servlet-class>controller.seller.UpdateProductControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartControlServlet</servlet-name>
        <servlet-class>controller.customer.AddToCartControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryInFooter</servlet-name>
        <servlet-class>controller.CategoryInFooter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCartControlServlet</servlet-name>
        <servlet-class>controller.customer.ShowCartControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCart</servlet-name>
        <servlet-class>controller.customer.RemoveFromCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadInfoCustomerControlServlet</servlet-name>
        <servlet-class>controller.customer.LoadInfoCustomerControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveAllCartControlServlet</servlet-name>
        <servlet-class>controller.customer.RemoveAllCartControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAmountCartControlServlet</servlet-name>
        <servlet-class>controller.customer.UpdateAmountCartControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactUsControlServlet</servlet-name>
        <servlet-class>controller.view.ContactUsControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutUsControlServlet</servlet-name>
        <servlet-class>controller.view.AboutUsControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManagerProductControlServlet</servlet-name>
        <servlet-class>controller.admin.AdminManagerProductControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillControlServlet</servlet-name>
        <servlet-class>controller.customer.BillControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveBillControlServlet</servlet-name>
        <servlet-class>controller.customer.RemoveBillControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteProductControlServlet</servlet-name>
        <servlet-class>controller.admin.AdminDeleteProductControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCreateProductControlServlet</servlet-name>
        <servlet-class>controller.admin.AdminCreateProductControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDataAdminCreateServlet</servlet-name>
        <servlet-class>controller.admin.LoadDataAdminCreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDataAdminUpdateControlServlet</servlet-name>
        <servlet-class>controller.admin.LoadDataAdminUpdateControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateProductControlServlet</servlet-name>
        <servlet-class>controller.admin.AdminUpdateProductControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminControlServlet</servlet-name>
        <servlet-class>controller.admin.AdminControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadInfoControlservlet</servlet-name>
        <servlet-class>controller.customer.LoadInfoControlservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManagerAccountControlServlet</servlet-name>
        <servlet-class>controller.admin.AdminManagerAccountControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAccountToUpdateControlServlet</servlet-name>
        <servlet-class>controller.admin.LoadAccountToUpdateControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateAccountControlServlet</servlet-name>
        <servlet-class>controller.admin.AdminUpdateAccountControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManagerSellerCusControlServlet</servlet-name>
        <servlet-class>controller.admin.AdminManagerSellerCusControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteAccountControlServlet</servlet-name>
        <servlet-class>controller.admin.AdminDeleteAccountControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInfoCusControlServlet</servlet-name>
        <servlet-class>controller.customer.UpdateInfoCusControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBillControlServlet</servlet-name>
        <servlet-class>controller.admin.AdminBillControlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchControlServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryInCreatejspServlet</servlet-name>
        <url-pattern>/categoryincreatejsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeControlServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopControlServlet</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailControlServlet</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControlServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupControlServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControlServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordControlServlet</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerProductControlServlet</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductControlServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductControlServlet</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProductToUpdateServlet</servlet-name>
        <url-pattern>/loadproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductControlServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartControlServlet</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryInFooter</servlet-name>
        <url-pattern>/CategoryInFooter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCartControlServlet</servlet-name>
        <url-pattern>/showcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCart</servlet-name>
        <url-pattern>/removefromcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadInfoCustomerControlServlet</servlet-name>
        <url-pattern>/loadinfocustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveAllCartControlServlet</servlet-name>
        <url-pattern>/removeallcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAmountCartControlServlet</servlet-name>
        <url-pattern>/updateamountcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactUsControlServlet</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutUsControlServlet</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManagerProductControlServlet</servlet-name>
        <url-pattern>/adminmanagerproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillControlServlet</servlet-name>
        <url-pattern>/bill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveBillControlServlet</servlet-name>
        <url-pattern>/removebill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteProductControlServlet</servlet-name>
        <url-pattern>/admindeleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCreateProductControlServlet</servlet-name>
        <url-pattern>/admincreateproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDataAdminCreateServlet</servlet-name>
        <url-pattern>/loaddataadmincreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDataAdminUpdateControlServlet</servlet-name>
        <url-pattern>/loaddataadminupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateProductControlServlet</servlet-name>
        <url-pattern>/adminupdateproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminControlServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadInfoControlservlet</servlet-name>
        <url-pattern>/loadinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManagerAccountControlServlet</servlet-name>
        <url-pattern>/adminmanageraccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAccountToUpdateControlServlet</servlet-name>
        <url-pattern>/loadaccounttoupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateAccountControlServlet</servlet-name>
        <url-pattern>/adminupdateaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManagerSellerCusControlServlet</servlet-name>
        <url-pattern>/adminmanagersellercus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteAccountControlServlet</servlet-name>
        <url-pattern>/admindeleteaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInfoCusControlServlet</servlet-name>
        <url-pattern>/updateinfocus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBillControlServlet</servlet-name>
        <url-pattern>/adminbill</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            home
        </welcome-file>
    </welcome-file-list>
</web-app>
